# Basics

In [ ]:
import numpy as np
import pandas as pd

# A series is a one-dimensional array.  It is possible to change the value but not the size of the series
series1 = pd.Series([10,20,30])
print(series1)  # output: first column - indexes of the elements
                #         second column - the elements

names = np.array(['Esther','Tin','Nicholas','Michael'])
s2 = pd.Series(names)
print(s2)


    
# Dataframe resembles a table
df = pd.DataFrame ({
    "Name": ['Esther','Tin','Nicholas','Michael'],
    "Age" : [21,25, 26, 28],
    "PhoneNumber" : ['65160001', '65160002', '65160003', '65160004']
})
print(df)

numList =[1,2,3,4]
df = pd.DataFrame(numList)
print(df)
print(df.dtypes)

names =  [['Derek', 7000], ['Wendy', 3000], ['Nicholas', 6000], ['Michael', 8000]]
    
df = pd.DataFrame(names, columns =['Name', 'Salary'], dtype=float)    # set the datatype (Age) to float
print(df)
print(df.dtypes)
df.describe()

df.to_csv('Person.csv', index=False, header=True)   # write file with header

Location = "Person.csv"
df = pd.read_csv(Location, header=None)  # read file without header
df

df = pd.read_csv(Location, names= ['Names', 'Salary'])   # read file and specify column title
df

max_value = df.Salary.max()            # get max value for the column

df["Names"] [df.Salary == max_value]

df["Salary"]

df["Salary"].mean()  # get average

df['Salary'].max() #check max value

Sorted = df.sort_values(['Salary'], ascending = False)
Sorted.head(2)  # top sa salaried person

In [ ]:
df["Salary"]
#f = float(s)

#df["Salary"].mean()  # get average

In [ ]:
df["Salary"].mean()  # get average

In [ ]:
df.Salary.dtype

In [ ]:
names =  [['Derek', 7000], ['Wendy', 3000], ['Nicholas', 6000], ['Michael', 8000]]
    
df = pd.DataFrame(names, columns =['Name', 'Salary'], dtype=float)    # set the datatype (Age) to float
print(df)
print(df.dtypes)
df.describe()

In [ ]:
df["Salary"].mean()